/** 
  *
  *  ESTILOS GERAIS 
  *
  **/

* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

h2 {
    background-color: #fe7e02;
    padding: 10px 5px 10px 5px;
    color: white;
    text-align: center;
    font-family: Roboto;
}

input {
    height: 20px;
    width: 500px;
    border-style: none;
    border-bottom: solid;
}

button:focus {
    color: white;
}


img {
    width: 100px;
}

div>p:first-child {
    display: inline;
}

div img {
    background: white
    height 70px;
    width: 70px;
}

.botao-amarelo {
    display: block;
    margin: auto;
    background-color: #ffaf43;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}

.botao-amarelo:hover {
    background-color: #c44f00;
}

.container {
    height: 200px;
    text-align: center;
    padding: 100px;
    text-align: center;
}

.icone {
    height: 20px;
    width: 20px;
    }

    #lupa:active {
        color:black;
        background-color: black;
    }
    
    .icone:hover {
        opacity: 0.4;
    }
    

/** 
  *
  *  ESTILOS HOME 
  *
  **/

  .container{
    padding: 50px;
}

#container-de-descricao {
    background-color: #2274a5;
    color: white;
    margin: auto;
    padding: auto;
}

#container-de-descricao>ol {
    padding: 30px 10px;
    width: 300px;
    margin: auto;
}

#container-para-comprar {
    background-color: #e7eb90;
}

#container-para-comprar>p {
    color: #c44f00;
    padding: 100px 0;
    font-size: 60px;
}
 
/**
  *
  *  ESTILOS COMPRAR 
  *
  **/

div:nth-child(2),
div:last-child {
    text-align: center;
}

#barra-de-busca{
    border:none;
    border-bottom: 2px solid black;
}

table {
    width: 50%;
    text-align: center;
    margin: auto;
}

td button {
    background-color: #fadf63;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    color: black;
}

.container-do-search {
    margin-top: 200px;
    height: 100px;
}


#back-button {
    background-color: white;
    width: 100px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10px;
    color: black;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
}

#back-button:hover {
    background-color: #635a3d
}

